<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>application pfe</display-name>

    <servlet>
        <servlet-name>ajoutentreprise</servlet-name>
        <jsp-file>/ajoutentreprise.jsp</jsp-file>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>ajoutentreprise</servlet-name>
        <url-pattern>/ajoutentreprise</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>rechercheentreprise</servlet-name>
        <jsp-file>/rechercheentreprise.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
		<servlet-name>rechercheentreprise</servlet-name>
		<url-pattern>/rechercheentreprise</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>ficheentreprise</servlet-name>
        <jsp-file>/ficheentreprise.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>ficheentreprise</servlet-name>
		<url-pattern>/ficheentreprise</url-pattern>
	</servlet-mapping>
	
	    <servlet>
        <servlet-name>ajouttechnicien</servlet-name>
        <jsp-file>/ajouttechnicien.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
		<servlet-name>ajouttechnicien</servlet-name>
		<url-pattern>/ajouttechnicien</url-pattern>
	</servlet-mapping>
	
		<servlet>
        <servlet-name>fichebatiment</servlet-name>
        <jsp-file>/fichebatiment.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>fichebatiment</servlet-name>
		<url-pattern>/fichebatiment</url-pattern>
	</servlet-mapping>

		<servlet>
        <servlet-name>intervention</servlet-name>
        <jsp-file>/intervention.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>intervention</servlet-name>
		<url-pattern>/intervention</url-pattern>
	</servlet-mapping>


		<servlet>
        <servlet-name>listeorganes</servlet-name>
        <jsp-file>/listeorganes.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>listeorganes</servlet-name>
		<url-pattern>/listeorganes</url-pattern>
	</servlet-mapping>

		<servlet>
        <servlet-name>choixintervention</servlet-name>
        <jsp-file>/choixintervention.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>choixintervention</servlet-name>
		<url-pattern>/choixintervention</url-pattern>
	</servlet-mapping>

		<servlet>
        <servlet-name>installationextincteurvalidee</servlet-name>
        <jsp-file>/installationextincteurvalidee.jsp</jsp-file>
    </servlet>
	    <servlet-mapping>
		<servlet-name>installationextincteurvalidee</servlet-name>
		<url-pattern>/installationextincteurvalidee</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>verification</servlet-name>
        <jsp-file>/verification.jsp</jsp-file>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>verification</servlet-name>
        <url-pattern>/verification</url-pattern>
    </servlet-mapping>


</web-app>

